.product-ul-after::after {
  border-radius: 1rem;
  content: '';
  position: absolute;
  background: hsl(0 0% 10%);
  pointer-events: none;
  z-index: -2;
  inset: calc(var(--top) * 1px) calc(100% - (var(--right) * 1px)) calc(100% - (var(--bottom) * 1px))
    calc(var(--left) * 1px);
  transition: inset 0.2s;
}

.product-ul-after[data-enhanced]:hover {
  --active: 1;
}

.product-ul-after[data-enhanced]::after {
  opacity: var(--active, 0);
  transition: opacity 0.2s, inset 0.2s 0.2s;
}
.product-ul-after[data-enhanced]:hover::after {
  transition: opacity 0.2s 0.2s, inset 0.2s;
}

@supports (anchor-name: --anchor) {
  .product-ul-after li:nth-of-type(1) article {
    anchor-name: --develop;
  }
  .product-ul-after li:nth-of-type(2) article {
    anchor-name: --preview;
  }
  .product-ul-after li:nth-of-type(3) article {
    anchor-name: --ship;
  }
  .product-ul-after li:nth-of-type(4) article {
    anchor-name: --profit;
  }

  :root {
    --anchor: --develop;
  }
  :root:has(.product-ul-after li:nth-of-type(1):hover) {
    --anchor: --develop;
  }
  :root:has(.product-ul-after li:nth-of-type(2):hover) {
    --anchor: --preview;
  }
  :root:has(.product-ul-after li:nth-of-type(3):hover) {
    --anchor: --ship;
  }
  :root:has(.product-ul-after li:nth-of-type(4):hover) {
    --anchor: --profit;
  }

  .product-ul-after::after {
    position-anchor: var(--anchor);
    inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
  }

  .product-ul-after:has(li:hover) {
    --active: 1;
  }
  .product-ul-after::after {
    opacity: var(--active, 0);
    transition: opacity 0.2s, inset 0.2s 0.2s;
  }
  .product-ul-after:hover::after {
    transition: opacity 0.2s 0.2s, inset 0.2s;
  }

  .product-ul-after article::after {
    content: unset;
    display: none;
  }
}

.product-ul-after:not([data-enhanced]) article::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -2;
  background: hsl(0 0% 10%);
  border-radius: 1rem;
  opacity: var(--li-active, 0);
  transition: opacity 0.2s;
}

.product-ul-after article {
  color: hsl(0 0% 80%);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  position: relative;
}

.product-ul-after article::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg) 0 2px, transparent 2px 38px) -20px -20px / 40px 40px,
    linear-gradient(90deg, var(--bg) 0 2px, transparent 2px 38px) -20px -20px / 40px 40px;
  mask: linear-gradient(-35deg, var(--bg) 0%, transparent 45%);
  z-index: -1;
  opacity: var(--li-active, 0);
  transition: opacity 0.2s;
}

.product-ul-after li:hover {
  --li-active: 1;
}

.product-ul-after article h3 {
  margin: 0;
  font-weight: 120;
}

.product-ul-after article p {
  margin: 0;
  text-wrap: pretty;
  background: linear-gradient(hsl(0 0% 80%), hsl(0 0% 50%));
  color: transparent;
  background-clip: text;
  font-weight: 80;
}

.product-ul-after article svg {
  width: 44px;
}
